Workflows/Symptoms_Checker/SYMPTOMS_CHECKER.json
{
  "name": "SYMPTOMS_CHECKER",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/symptoms-checker",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "14b9dafa-d738-48cc-a46d-7cc5c919a8cf",
      "name": "Webhook",
      "webhookId": "1b4a57ae-66d6-4691-ae2d-6d08dc5d02f1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      name: $json.body.name,\n      email: $json.body.email,\n      symptoms: $json.body.symptoms,\n      duration: $json.body.duration,\n      existing_medicines: $json.body.existing_medicines,\n      age: $json.body.age,\n      gender: $json.body.gender\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "7a2f0012-dac8-450e-93d5-694fd2a0c95d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Patient Symptoms Checker Input:\nName: {{$json.name}}\nAge: {{$json.age}}\nGender: {{$json.gender}}\nSymptoms: {{$json.symptoms}}\nDuration: {{$json.duration}}\nCurrent Medicines: {{$json.existing_medicines}}\n\nProvide a structured analysis in bullet points.\n",
        "options": {
          "systemMessage": "You are a professional, calm, and supportive medical-information assistant. Your job is to read the user’s symptoms and provide a natural, human-like medical explanation in the form of a short paragraph.\n\nRESPONSE FORMAT RULES (EXTREMELY IMPORTANT)\n\nYour final response must always be smooth, human-like paragraph of 3–4 lines maximum, written in clear and friendly English.\n\nNo bullet points. No lists. No headings. No enumeration. No repeating symptoms separately.\nThe explanation must feel like it is written by a caring healthcare professional, not an AI.\n\nIMPORTANT: YOU MUST ADD PROPER LINE SPACING BETWEEN TWO LINES.\n\nThe paragraph must:\n\nStart with a natural sentence like:\n“According to the symptoms you mentioned, it seems that…”\n\nCombine all symptoms into a single general explanation (NO individual symptom listing).\n\nUse proper grammar and put a full stop at the end of every sentence.\n\nMaintain proper spacing between each line to create comfortable spacing.\n\nKeep the entire explanation within 3–4 lines (sentences) before the disclaimer.\n\nTONE & SAFETY RULES\n\nAlways be calm, positive, polite, and reassuring.\n\nNever use alarming or frightening words.\n\nNever make absolute claims like “you definitely have…”.\n\nUse safe phrases like “these symptoms may be related to…”.\n\nNever dismiss serious symptoms.\n\nDo not mention medicine names, doses, or treatment plans.\n\nDo not ask for personal identification.\n\nLOGIC RULES\n\nMild symptoms: Give a gentle explanation and suggest simple rest, hydration, or dietary care.\n\nBorderline symptoms: Suggest monitoring and gently recommend a doctor if symptoms continue.\n\nSerious symptoms: Kindly advise immediate medical attention, without causing fear.\n\nNever guarantee a diagnosis — only provide possibilities.\n\nMANDATORY FINAL LINE\n\nAfter the paragraph and proper line spacing, add this exact line:\n\n“This is an AI-generated assessment. For an accurate and 100% reliable diagnosis, please consult a medical professional.”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "312b3d25-4167-41c7-841e-bedc8f81f6d2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        224
      ],
      "id": "34d28686-0ffa-4dd1-b566-0477784e8343",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jTywaPAPNBFR9V7Y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "symptoms_reports",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "patient_name",
              "fieldValue": "={{ $('Code in JavaScript').item.json.name }}"
            },
            {
              "fieldId": "patient_email",
              "fieldValue": "={{ $('Code in JavaScript').item.json.email }}"
            },
            {
              "fieldId": "age",
              "fieldValue": "={{ $('Code in JavaScript').item.json.age }}"
            },
            {
              "fieldId": "gender",
              "fieldValue": "={{ $('Code in JavaScript').item.json.gender }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $('Code in JavaScript').item.json.symptoms }}"
            },
            {
              "fieldId": "duration",
              "fieldValue": "={{ $('Code in JavaScript').item.json.duration }}"
            },
            {
              "fieldId": "existing_medicines",
              "fieldValue": "={{ $('Code in JavaScript').item.json.existing_medicines }}"
            },
            {
              "fieldId": "ai_response",
              "fieldValue": "={{ $node[\"AI Agent\"].json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.currentDate }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "7ae6e6a3-f1f0-4ec5-981b-46acd14835ef",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "KLleYiBBBvAiyiI5",
          "name": "Supabase Farooq"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "c5342e45-b29e-4cd5-bae3-004832f551a0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"result\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1472,
        0
      ],
      "id": "8665b9b9-649c-4b5f-9086-272a88ea8db1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// INPUT: AI agent output inside items[0].json.output\n// OUTPUT: Clean HTML block\n\nconst raw = items[0].json.ai_response;\n\n// Remove ```html and ``` fencing\nlet clean = raw\n  .replace(/```html/gi, \"\")    // remove starting fence\n  .replace(/```/g, \"\")         // remove closing fence\n  .trim();                      // cleanup spacing\n\nreturn [\n  {\n    json: {\n      output: clean\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "09848e5d-01e7-4f45-9bcd-fb8479eb70ae",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b87b207-d7ab-44ca-841c-c2b5fae96ded",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6d568813a88aea710aa5796ea28840c458ade99e5fe88b00dc7056afbfca8d0"
  },
  "id": "VzogxIpiXZYApJ8i",
  "tags": []
}